body {
    margin: 0 auto;
    max-width: 800px;
    background-image: url("Background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.center {
    display: flex;
    align-items: center;
}

h1 {
    text-align: center;
    font-size: 40px;
}

h2 {
    text-align: center;
}

.img-container {
    float: left;
    width: 32%;
    padding: 5px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}